root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.json]
indent_size = 2

[tests/valid/line_endings_crlf.nano]
end_of_line = crlf

[tests/valid/line_endings_mixed.nano]
end_of_line = unset

[tests/valid/multiline_line_endings.nano]
end_of_line = unset

[tests/valid/no_final_newline.nano]
insert_final_newline = false

[tests/valid/whitespace_only.nano]
trim_trailing_whitespace = unset

[tests/invalid/bare_cr.nano]
end_of_line = unset

[tests/invalid/control_character.nano]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[tests/invalid/control_u000b.nano]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[tests/invalid/control_u000e.nano]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[tests/invalid/c1_control.nano]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[tests/invalid/del_control.nano]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[tests/invalid/empty_after_separator.nano]
trim_trailing_whitespace = unset

[tests/invalid/error_precedence_encoding.nano]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[tests/invalid/error_precedence_tab.nano]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[tests/invalid/invalid_utf8.nano]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[tests/invalid/nul.nano]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[tests/invalid/raw_trailing_space.nano]
trim_trailing_whitespace = unset

[tests/invalid/root_raw_trailing_space.nano]
trim_trailing_whitespace = unset

[tests/invalid/tab_indent.nano]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[tests/invalid/tab_scalar.nano]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[tests/invalid/utf8_bom.nano]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
